@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.itemContainer{
    display: flex;
    flex-direction:column;
    border: 1px solid rgb(202, 231, 15);
    align-items: center;
    height: 800px;
    width: auto;
    justify-content: space-evenly;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(212, 210, 171);
    background-color: rgba(0, 0, 0, 0.911);

}

.img {
    height: 400px;
    width: 400px;
    border-radius: 20px;
}

h1 {
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

