@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Julee&display=swap');

.footer {
    width: auto;
    background-color: rgba(249, 205, 12, 0.987);
    font-family: 'Julee', cursive;
    font-size: 20px;
    padding-top: 10px;
    padding: 50px;
    height: 70px;
    text-align: center;
}
